<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => :edit_user_password_submit, :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "New password" %><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation, :autocomplete => "off" %></div>

  <div><%= f.submit "Change my password" %></div>
<% end %>
