<div class="page-header">
	<p><h1><%=t 'ast-text'%></h1></p>
	<p><%=t 'ast-text2'%> <a href="http://www.opensamm.org" target="_blank" class="btn btn-primary btn-small"><%=t 'ast-text-clickhere'%></a></p>
</div>


<ul class="nav nav-tabs" id="myTabs">
	<li class="active"><a href="#governance"><%=t 'governance'%></a></li>
	<li><a href="#construction"><%=t 'construction'%></a></li>
	<li><a href="#verification"><%=t 'verification'%></a></li>
	<li><a href="#deployment"><%=t 'deployment'%></a></li>
	<li><a href="#scorecard"><%=t 'scorecard'%></a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active fade in" id="governance">

		<table class="table table-condensed table-bordered"><caption><%=t 'sm-title'%></caption>
			<thead>
				<tr><th style="width: 80%;">Question</th><th class="checker">Response</th><th class="rating">Rating</th></tr>
			</thead>
			<tbody>
				<tr><td class="question"><%=t 'sm1'%></td><td class="checker"><input type="checkbox" id="sm1-check" /><label class="checker" for="sm1-check">Yes</label></td><td rowspan='10' class="rating" id="sm-rating">0</td></tr>
				<tr><td class="question"><%=t 'sm2'%></td><td class="checker"><input type="checkbox" id="sm2-check" /><label class="checker" for="sm2-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'sm3'%></td><td class="checker"><input type="checkbox" id="sm3-check" /><label class="checker" for="sm3-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'sm4'%></td><td class="checker"><input type="checkbox" id="sm4-check" /><label class="checker" for="sm4-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'sm5'%></td><td class="checker"><input type="checkbox" id="sm5-check" /><label class="checker" for="sm5-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'sm6'%></td><td class="checker"><input type="checkbox" id="sm6-check" /><label class="checker" for="sm6-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'sm7'%></td><td class="checker"><input type="checkbox" id="sm7-check" /><label class="checker" for="sm7-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'sm8'%></td><td class="checker"><input type="checkbox" id="sm8-check" /><label class="checker" for="sm8-check">Yes</label></td></tr>
			</tbody>
		</table>

		<table class="table table-condensed table-bordered"><caption><%=t 'pc-title'%></caption>
			<thead>
				<tr><th style="width: 80%;">Question</th><th class="checker">Response</th><th class="rating">Rating</th></tr>
			</thead>
			<tbody>
				<tr><td class="question"><%=t 'pc1'%></td><td class="checker"><input type="checkbox" id="pc1-check" /><label class="checker" for="pc1-check">Yes</label></td><td rowspan='8' class="rating" id="pc-rating">0</td></tr>
				<tr><td class="question"><%=t 'pc2'%></td><td class="checker"><input type="checkbox" id="pc2-check" /><label class="checker" for="pc2-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'pc3'%></td><td class="checker"><input type="checkbox" id="pc3-check" /><label class="checker" for="pc3-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'pc4'%></td><td class="checker"><input type="checkbox" id="pc4-check" /><label class="checker" for="pc4-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'pc5'%></td><td class="checker"><input type="checkbox" id="pc5-check" /><label class="checker" for="pc5-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'pc6'%></td><td class="checker"><input type="checkbox" id="pc6-check" /><label class="checker" for="pc6-check">Yes</label></td></tr>
			</tbody>
		</table>

		<table class="table table-condensed table-bordered"><caption><%=t 'eg-title'%></caption>
			<thead>
				<tr><th style="width: 80%;">Question</th><th class="checker">Response</th><th class="rating">Rating</th></tr>
			</thead>
			<tbody>
				<tr><td class="question"><%=t 'eg1'%></td><td class="checker"><input type="checkbox" id="eg1-check" /><label class="checker" for="eg1-check">Yes</label></td><td rowspan='8' class="rating" id="eg-rating">0</td></tr>
				<tr><td class="question"><%=t 'eg2'%></td><td class="checker"><input type="checkbox" id="eg2-check" /><label class="checker" for="eg2-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'eg3'%></td><td class="checker"><input type="checkbox" id="eg3-check" /><label class="checker" for="eg3-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'eg4'%></td><td class="checker"><input type="checkbox" id="eg4-check" /><label class="checker" for="eg4-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'eg5'%></td><td class="checker"><input type="checkbox" id="eg5-check" /><label class="checker" for="eg5-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'eg6'%></td><td class="checker"><input type="checkbox" id="eg6-check" /><label class="checker" for="eg6-check">Yes</label></td></tr>
			</tbody>
		</table>

	</div>

	<div class="tab-pane fade in" id="construction">
		<table class="table table-condensed table-bordered"><caption><%=t 'ta-title'%></caption>
			<thead>
				<tr><th style="width: 80%;">Question</th><th class="checker">Response</th><th class="rating">Rating</th></tr>
			</thead>
			<tbody>
				<tr><td class="question"><%=t 'ta1'%></td><td class="checker"><input type="checkbox" id="ta1-check" /><label class="checker" for="ta1-check">Yes</label></td><td rowspan='9' class="rating" id="ta-rating">0</td></tr>
				<tr><td class="question"><%=t 'ta2'%></td><td class="checker"><input type="checkbox" id="ta2-check" /><label class="checker" for="ta2-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'ta3'%></td><td class="checker"><input type="checkbox" id="ta3-check" /><label class="checker" for="ta3-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'ta4'%></td><td class="checker"><input type="checkbox" id="ta4-check" /><label class="checker" for="ta4-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'ta5'%></td><td class="checker"><input type="checkbox" id="ta5-check" /><label class="checker" for="ta5-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'ta6'%></td><td class="checker"><input type="checkbox" id="ta6-check" /><label class="checker" for="ta6-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'ta7'%></td><td class="checker"><input type="checkbox" id="ta7-check" /><label class="checker" for="ta7-check">Yes</label></td></tr>
			</tbody>
		</table>

		<table class="table table-condensed table-bordered"><caption><%=t 'sr-title'%></caption>
			<thead>
				<tr><th style="width: 80%;">Question</th><th class="checker">Response</th><th class="rating">Rating</th></tr>
			</thead>
			<tbody>
				<tr><td class="question"><%=t 'sr1'%></td><td class="checker"><input type="checkbox" id="sr1-check" /><label class="checker" for="sr1-check">Yes</label></td><td rowspan='8' class="rating" id="sr-rating">0</td></tr>
				<tr><td class="question"><%=t 'sr2'%></td><td class="checker"><input type="checkbox" id="sr2-check" /><label class="checker" for="sr2-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'sr3'%></td><td class="checker"><input type="checkbox" id="sr3-check" /><label class="checker" for="sr3-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'sr4'%></td><td class="checker"><input type="checkbox" id="sr4-check" /><label class="checker" for="sr4-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'sr5'%></td><td class="checker"><input type="checkbox" id="sr5-check" /><label class="checker" for="sr5-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'sr6'%></td><td class="checker"><input type="checkbox" id="sr6-check" /><label class="checker" for="sr6-check">Yes</label></td></tr>
			</tbody>
		</table>

		<table class="table table-condensed table-bordered"><caption><%=t 'sa-title'%></caption>
			<thead>
				<tr><th style="width: 80%;">Question</th><th class="checker">Response</th><th class="rating">Rating</th></tr>
			</thead>
			<tbody>
				<tr><td class="question"><%=t 'sa1'%></td><td class="checker"><input type="checkbox" id="sa1-check" /><label class="checker" for="sa1-check">Yes</label></td><td rowspan='8' class="rating" id="sa-rating">0</td></tr>
				<tr><td class="question"><%=t 'sa2'%></td><td class="checker"><input type="checkbox" id="sa2-check" /><label class="checker" for="sa2-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'sa3'%></td><td class="checker"><input type="checkbox" id="sa3-check" /><label class="checker" for="sa3-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'sa4'%></td><td class="checker"><input type="checkbox" id="sa4-check" /><label class="checker" for="sa4-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'sa5'%></td><td class="checker"><input type="checkbox" id="sa5-check" /><label class="checker" for="sa5-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'sa6'%></td><td class="checker"><input type="checkbox" id="sa6-check" /><label class="checker" for="sa6-check">Yes</label></td></tr>
			</tbody>
		</table>

	</div>

	<div class="tab-pane fade in" id="verification">
		<table class="table table-condensed table-bordered"><caption><%=t 'dr-title'%></caption>
			<thead>
				<tr><th style="width: 80%;">Question</th><th class="checker">Response</th><th class="rating">Rating</th></tr>
			</thead>
			<tbody>
				<tr><td class="question"><%=t 'dr1'%></td><td class="checker"><input type="checkbox" id="dr1-check" /><label class="checker" for="dr1-check">Yes</label></td><td rowspan='8' class="rating" id="dr-rating">0</td></tr>
				<tr><td class="question"><%=t 'dr2'%></td><td class="checker"><input type="checkbox" id="dr2-check" /><label class="checker" for="dr2-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'dr3'%></td><td class="checker"><input type="checkbox" id="dr3-check" /><label class="checker" for="dr3-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'dr4'%></td><td class="checker"><input type="checkbox" id="dr4-check" /><label class="checker" for="dr4-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'dr5'%></td><td class="checker"><input type="checkbox" id="dr5-check" /><label class="checker" for="dr5-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'dr6'%></td><td class="checker"><input type="checkbox" id="dr6-check" /><label class="checker" for="dr6-check">Yes</label></td></tr>
			</tbody>
		</table>

		<table class="table table-condensed table-bordered"><caption><%=t 'cr-title'%></caption>
			<thead>
				<tr><th style="width: 80%;">Question</th><th class="checker">Response</th><th class="rating">Rating</th></tr>
			</thead>
			<tbody>
				<tr><td class="question"><%=t 'cr1'%></td><td class="checker"><input type="checkbox" id="cr1-check" /><label class="checker" for="cr1-check">Yes</label></td><td rowspan='8' class="rating" id="cr-rating">0</td></tr>
				<tr><td class="question"><%=t 'cr2'%></td><td class="checker"><input type="checkbox" id="cr2-check" /><label class="checker" for="cr2-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'cr3'%></td><td class="checker"><input type="checkbox" id="cr3-check" /><label class="checker" for="cr3-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'cr4'%></td><td class="checker"><input type="checkbox" id="cr4-check" /><label class="checker" for="cr4-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'cr5'%></td><td class="checker"><input type="checkbox" id="cr5-check" /><label class="checker" for="cr5-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'cr6'%></td><td class="checker"><input type="checkbox" id="cr6-check" /><label class="checker" for="cr6-check">Yes</label></td></tr>
			</tbody>
		</table>

		<table class="table table-condensed table-bordered"><caption><%=t 'st-title'%></caption>
			<thead>
				<tr><th style="width: 80%;">Question</th><th class="checker">Response</th><th class="rating">Rating</th></tr>
			</thead>
			<tbody>
				<tr><td class="question"><%=t 'st1'%></td><td class="checker"><input type="checkbox" id="st1-check" /><label class="checker" for="st1-check">Yes</label></td><td rowspan='9' class="rating" id="st-rating">0</td></tr>
				<tr><td class="question"><%=t 'st2'%></td><td class="checker"><input type="checkbox" id="st2-check" /><label class="checker" for="st2-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'st3'%></td><td class="checker"><input type="checkbox" id="st3-check" /><label class="checker" for="st3-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'st4'%></td><td class="checker"><input type="checkbox" id="st4-check" /><label class="checker" for="st4-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'st5'%></td><td class="checker"><input type="checkbox" id="st5-check" /><label class="checker" for="st5-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'st6'%></td><td class="checker"><input type="checkbox" id="st6-check" /><label class="checker" for="st6-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'st7'%></td><td class="checker"><input type="checkbox" id="st7-check" /><label class="checker" for="st7-check">Yes</label></td></tr>
			</tbody>
		</table>

	</div>

	<div class="tab-pane fade in" id="deployment">

		<table class="table table-condensed table-bordered"><caption><%=t 'vm-title'%></caption>
			<thead>
				<tr><th style="width: 80%;">Question</th><th class="checker">Response</th><th class="rating">Rating</th></tr>
			</thead>
			<tbody>
				<tr><td class="question"><%=t 'vm1'%></td><td class="checker"><input type="checkbox" id="vm1-check" /><label class="checker" for="vm1-check">Yes</label></td><td rowspan='9' class="rating" id="vm-rating">0</td></tr>
				<tr><td class="question"><%=t 'vm2'%></td><td class="checker"><input type="checkbox" id="vm2-check" /><label class="checker" for="vm2-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'vm3'%></td><td class="checker"><input type="checkbox" id="vm3-check" /><label class="checker" for="vm3-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'vm4'%></td><td class="checker"><input type="checkbox" id="vm4-check" /><label class="checker" for="vm4-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'vm5'%></td><td class="checker"><input type="checkbox" id="vm5-check" /><label class="checker" for="vm5-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'vm6'%></td><td class="checker"><input type="checkbox" id="vm6-check" /><label class="checker" for="vm6-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'vm7'%></td><td class="checker"><input type="checkbox" id="vm7-check" /><label class="checker" for="vm7-check">Yes</label></td></tr>
			</tbody>
		</table>

		<table class="table table-condensed table-bordered"><caption><%=t 'eh-title'%></caption>
			<thead>
				<tr><th style="width: 80%;">Question</th><th class="checker">Response</th><th class="rating">Rating</th></tr>
			</thead>
			<tbody>
				<tr><td class="question"><%=t 'eh1'%></td><td class="checker"><input type="checkbox" id="eh1-check" /><label class="checker" for="eh1-check">Yes</label></td><td rowspan='8' class="rating" id="eh-rating">0</td></tr>
				<tr><td class="question"><%=t 'eh2'%></td><td class="checker"><input type="checkbox" id="eh2-check" /><label class="checker" for="eh2-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'eh3'%></td><td class="checker"><input type="checkbox" id="eh3-check" /><label class="checker" for="eh3-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'eh4'%></td><td class="checker"><input type="checkbox" id="eh4-check" /><label class="checker" for="eh4-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'eh5'%></td><td class="checker"><input type="checkbox" id="eh5-check" /><label class="checker" for="eh5-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'eh6'%></td><td class="checker"><input type="checkbox" id="eh6-check" /><label class="checker" for="eh6-check">Yes</label></td></tr>
			</tbody>
		</table>

		<table class="table table-condensed table-bordered"><caption><%=t 'oe-title'%></caption>
			<thead>
				<tr><th style="width: 80%;">Question</th><th class="checker">Response</th><th class="rating">Rating</th></tr>
			</thead>
			<tbody>
				<tr><td class="question"><%=t 'oe1'%></td><td class="checker"><input type="checkbox" id="oe1-check" /><label class="checker" for="oe1-check">Yes</label></td><td rowspan='8' class="rating" id="oe-rating">0</td></tr>
				<tr><td class="question"><%=t 'oe2'%></td><td class="checker"><input type="checkbox" id="oe2-check" /><label class="checker" for="oe2-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'oe3'%></td><td class="checker"><input type="checkbox" id="oe3-check" /><label class="checker" for="oe3-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'oe4'%></td><td class="checker"><input type="checkbox" id="oe4-check" /><label class="checker" for="oe4-check">Yes</label></td></tr>
				<tr class="info"><td colspan="2"></td></tr>
				<tr><td class="question"><%=t 'oe5'%></td><td class="checker"><input type="checkbox" id="oe5-check" /><label class="checker" for="oe5-check">Yes</label></td></tr>
				<tr><td class="question"><%=t 'oe6'%></td><td class="checker"><input type="checkbox" id="oe6-check" /><label class="checker" for="oe6-check">Yes</label></td></tr>
			</tbody>
		</table>

	</div>

	<div class="tab-pane fade in" id="scorecard">
		<p class="centralise"><select id="targetselectah">
			<option value="start" selected="selected">Default</option>
			<option value="independentsoftwarevendor"><%=t 'independentsoftwarevendor' %></option>
			<option value="onlineserviceprovider"><%=t 'onlineserviceprovider' %></option>
			<option value="financialservicesorganisation"><%=t 'financialservicesorganisation' %></option>
			<option value="governmentorganisation"><%=t 'governmentorganisation' %></option>
		</select></p>
		<p class="centralise"><div id="graphycontainer"></div></p>
	</div>
</div>


<h1><div id="about">About</div></h1>
<p><%= raw t('abouttext') %></p>
<p><a href="#topderp" class="scroll">Back to top</a></p>

<p></p>

<div id="bottomderp" class="well well-small">
</div>

<script>

	var chart1;
	var chartvals = {
		smc: "0",
		smt: "3",
		pcc: "0",
		pct: "3",
		egc: "0",
		egt: "3",
		tac: "0",
		tat: "3",
		src: "0",
		srt: "3",
		sac: "0",
		sat: "3",
		drc: "0",
		drt: "3",
		crc: "0",
		crt: "3",
		stc: "0",
		stt: "3",
		vmc: "0",
		vmt: "3",
		ehc: "0",
		eht: "3",
		oec: "0",
		oet: "3"
	}

	var charttitles = {
		scorecard: '<%= raw t('scorecard') %>',
		smtitle: '<%= raw t('sm-title') %>',
		pctitle: '<%= raw t('pc-title') %>',
		egtitle: '<%= raw t('eg-title') %>',
		tatitle: '<%= raw t('ta-title') %>',
		srtitle: '<%= raw t('sr-title') %>',
		satitle: '<%= raw t('sa-title') %>',
		drtitle: '<%= raw t('dr-title') %>',
		crtitle: '<%= raw t('cr-title') %>',
		sttitle: '<%= raw t('st-title') %>',
		vmtitle: '<%= raw t('vm-title') %>',
		ehtitle: '<%= raw t('eh-title') %>',
		oetitle: '<%= raw t('oe-title') %>',
		current: '<%= raw t('current') %>',
		target: '<%= raw t('target') %>'
	}

</script>

<%= javascript_include_tag "application" %>

<script>

$(document).ready(function() {

	<% if user_signed_in? %>
	$('#loadingModal').modal('show'); //Show the loading dialog whilst we ping the DB
	<% end %>

	//Enable the tabs
	$('#myTabs a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	});

	//Smooth Scroller
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
	});

	//Draw the chart on page render
	GoChartGo(chart1,charttitles,chartvals);

	//Lets give the checkboxes some LIFE!
	MakeCheckboxesAwes();

	//When the scorecard tab is shown..
	$('#myTabs a[href="#scorecard"]').on('shown', function (e) {
	  // e.target // activated tab <- we might want to use this in the future?
	  // e.relatedTarget // previous tab <- but probably not .. 

	  //Refresh chart
	  GoChartGo(chart1,charttitles,chartvals);
	});

	//This is the logic for the target selector on the scorecard tab
	$('#targetselectah').on('change',function() {
		SelectTarget($(this).val());
	});

	//Enable json cookies
	$.cookie.json = true;

	//Prettifies some stuff, adding event handling etc
	ImSoPretty();

	//Check the state - mainly to update the footer
	if (StateChecker() == null) {
		//Okay, we dont' know how to maintain state, lets do nothing

		//Well, do something, update the footer to mention that we're not recording state
		SetFooterContent(null);

	} else if (StateChecker() == "pleasedont") {
		//They've explicitly asked to not store the state at all

		//Do Nufink

		//Well, update that footer..
		SetFooterContent("pleasedont");

	} else if (StateChecker() == "cookies") {
		//Okay, looks like they're in cookies

		//Nom them
		LoadCookies();

		SetFooterContent("cookies");
	} else if (StateChecker() == "online") {
		//They're online - so we save online

		$.removeCookie('alltheoptions'); // tidy up
		$.removeCookie('targetoption'); // tidy up

		//They're apparently online .. 
		<% if !user_signed_in? %>
		$.removeCookie('statemethod'); // tidy up
		SetFooterContent(null); // clear the footer
		<% end %>
	}

	<% if user_signed_in? %>
	//Object to store what the database representation of assessments looks like
	//Global
	syncedAssessment = {};

    $.cookie('statemethod','online'); // because we're storing data online now

    //Load up the latest target
    LoadTargets('<%= fetch_targets_path %>');

	//Load up the latest assessments
	LoadLatestAssessment('<%= fetch_assessments_path %>',syncedAssessment);

	//Update the footer
	SetFooterContent("online");

	//Kick off the timer.. it recursively calls itself
	pushURL = '<%= create_assessment_path %>';
	ssa_timer = window.setTimeout(timerFunction,5000);

	//Bind a beforeunload event to check that the database and local dom is in sync first, and warn if not
	$(window).bind('beforeunload', function() {
		//Hey don't close the window while we haven't synced!
		if (CompareSyncedAssessment() == true) {
			return "We haven't saved online yet .. are you sure you want to quit?";
		}

	});

	$('#loadingModal').modal('hide'); //Hide that modal now
	
	<% end %>


});

</script>
