<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
<div class="control-group">
  <%= f.label :email, :class => "control-label" %>
  <div class="controls">
    <%= f.email_field :email %>
  </div>
</div>

<div class="control-group">
  <%= f.label :password, :class => "control-label" %>
  <div class="controls">
    <%= f.password_field :password %>
  </div>
</div>

<div class="control-group">
	<div class="controls">

  <% if devise_mapping.rememberable? -%>
  	<label class="checkbox">
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
	</label>
  <% end -%>

	</div>
</div>

<div class="modal-footer">
  <button type="submit" id="signin-button" class="btn btn-primary btn-inverse">Sign In</button>
  <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Cancel</button>
</div>

<script>
$('#signin-button').on('click',function(e) {
        e.preventDefault();
});
</script>



<% end %>

<%= render "links" %>