<br />
<%- if controller_name != 'sessions' %>
  <a href="#" id="linksloginlink">Login instead?</a><br />
  <script>
  	$('#linksloginlink').on("click", function() {
  		ShowLoginDialog('<%= new_user_session_path %>');
  	});
  </script>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	<a href="#" id="linkssignuplink">Sign Up instead?</a><br />
	<script>
		$('#linkssignuplink').on("click", function() {
      $('.ui-dialog-content').each(function(i) {
      if (i.is(':data(dialog)')) {
          i.dialog('close');
          i.dialog('destroy');
        }
      });
      // $('.ui-dialog-content').dialog('close');
      // $('.ui-dialog-content').dialog('destroy');
			ShowSignUpDialog('<%= new_user_registration_path %>');
		});
	</script>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <a href="#" id="linkspasswordlink">Forgot your password?</a><br />
  <script>
    $('#linkspasswordlink').on("click", function() {
      ShowPasswordResetDialog('<%= new_user_password_path %>');
    });
  </script>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <a href="#" id="linksunlocklink">Didn't receive confirmation instructions?</a><br />
  <script>
    $('#linksunlocklink').on("click", function() {
      ShowConfirmationDialog('<%= new_user_confirmation_path %>')
    });
   </script>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %> <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br /> <% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>