<!DOCTYPE html>
<html lang="en">
<head>
  <title>Asterisk Security Toolset - SAMM Self Assessment</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:900italic' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'fav.png', :rel => 'icon'%>
</head>
<body>

<!-- <div id="dialog-notice" style="display: none;" title="Notice">
	<p class="notice"><%= notice %></p>
</div>
<div id="dialog-alert" style="display: none;" title="Alert">
	<p class="alert"><%= alert %></p>
</div> -->

<div class="container">

	<div id="topderp" class="navbar navbar-inverse">
		<div class="navbar-inner">
			<a href="/" class="brand">SAMM Self Assessment</a>
			<ul class="nav">
				<li><a href="#about" class="scroll">About</a></li>
				<li><a href="#ast" class="scroll">AST</a></li>
				<li><a href="http://labs.asteriskinfosec.com.au">Labs</a></li>
			</ul>
			<ul class="nav pull-right">
				<% if user_signed_in? %>
				<div class="btn-group">
					<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.email %><span class="caret"></a>
					<ul class="dropdown-menu">
						<li><a href="#" id="logout-link">Sign Out</a></li>
					</ul>
				</div>
				<% else %>
				<!-- <li><a href="#loginModal" id="login-link" data-toggle="modal">Login</a></li>
				<li><a href="#registerModal" id="signup-link" data-toggle="modal">Sign Up</a></li> -->
				<!-- <li>
					<button class="btn btn-small btn-inverse" href="#loginModal" data-toggle="modal">Login</button>
				</li>
				<li class="divider-vertical"></li>
				<li>
					<div class="btn-group">
						<button class="btn btn-small btn-inverse" href="#registerModal" data-toggle="modal">Sign Up</button>
						<button class="btn btn-inverse btn-small dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#forgottenPasswordModal" data-toggle="modal">Forgot your password?</a></li>
							<li><a href="#resendConfirmationModal" data-toggle="modal">Resend password confirmation?</a></li>
						</ul>

					</div>
				</li> -->
				<% end %>
			</ul>
		</div>
	</div>

	<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Something" aria-hidden="true" data-remote="<%= new_user_session_path %>">
		<div class="modal-header">
			<h3>Sign In</h3>
		</div>
		<div class="modal-body">
			<h3>Loading</h3>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%"></div>
			</div>
		</div>
	</div>

	<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Somethingelse" aria-hidden="true" data-remote="<%= new_user_registration_path %>">
		<div class="modal-header">
			<h3>Register</h3>
		</div>
		<div class="modal-body">
			<h3>Loading</h3>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%"></div>
			</div>
		</div>
	</div>

	<div id="forgottenPasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Derp" aria-hidden="true" data-remote="<%= new_user_password_path %>">
		<div class="modal-header">
			<h3>Forgot your password huh?</h3>
		</div>
		<div class="modal-body">
			<h3>Loading</h3>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%"></div>
			</div>
		</div>
	</div>

	<div id="resendConfirmationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="huh" aria-hidden="true" data-remote="<%= new_user_confirmation_path %>">
		<div class="modal-header">
			<h3>Resend password confirmation</h3>
		</div>
		<div class="modal-body">
			<h3>Loading</h3>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%"></div>
			</div>
		</div>
	</div>

	<div id="messageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Herp" aria-hidden="true">
		<div class="modal-header">
		</div>
		<div class="modal-body">
			<h3>Loading</h3>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%"></div>
			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>

	<div id="stateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="hipstah" aria-hidden="true">
		<div class="modal-header">
			<h3>Maintaining your state (of mind)</h3>
		</div>	
		<div class="modal-body">
			<p>Hi,</p>
			<p>We're keen to ensure that you don't lose you're data, but, we're also keen to ensure that it remains safe. So we thought we would give you some options</p>
			<p>1. If you don't want to store your data in cookies or online, sure, choose '<strong>Do Nothing</strong>'. But, if you refresh the page, it'll all be gone!</p>
			<p>2. If you just want to store it in your cookies, select '<strong>Cookies</strong>'.</p>
			<!-- <p>3. And finally, if you want to maintain your data online, select '<strong>Online</strong>'. Mind you, you will have to create an account first.</p> -->
		</div>
		<div class="modal-footer">
			<button class="btn btn-inverse btn-primary" id="state-nothing">Do Nothing</button>
			<button class="btn btn-inverse" id="state-cookies">Cookies</button>
			<!-- <button class="btn btn-inverse" id="state-db">Online</button> -->
		</div>
	</div>

	

<%= yield %>

</div>



<% if user_signed_in? %>
<%= form_tag(:destroy_user_session, :method => :delete, :id => 'logout-form')%></form>
<script>
$('#logout-link').on('click',function(e) {
	e.preventDefault();
	$('#logout-form').submit();

});
</script>
<% end %>
</body>
</html>
