<!DOCTYPE html>
<html lang="en">
<head>
  <title>Asterisk Security Toolset - SAMM Self Assessment</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:900italic' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'fav.png', :rel => 'icon'%>
</head>
<body>

<!-- <div id="dialog-notice" style="display: none;" title="Notice">
	<p class="notice"><%= notice %></p>
</div>
<div id="dialog-alert" style="display: none;" title="Alert">
	<p class="alert"><%= alert %></p>
</div> -->
<a href="https://github.com/asterisklabs/ssa"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="container">

	<div id="topderp" class="navbar navbar-inverse">
		<div class="navbar-inner">
			<a href="/" class="brand">SAMM Self Assessment</a>
			<ul class="nav">
				<li><a href="#about" class="scroll"><%=t 'aboutheader' %></a></li>
			</ul>
			<ul class="nav pull-right">
				<% if user_signed_in? %>
				<div class="btn-group">
					<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><span id="spinnner"><%= image_tag "spin.gif" %></span> <%= current_user.email %><span class="caret"></a>
					<ul class="dropdown-menu">
						<li><a href="#updatePasswordModal" data-toggle="modal"><%=t 'updatepassword' %></a></li>
						<li><a href="#" id="logout-link"><%=t 'signout' %></a></li>
					</ul>
				</div>
				<% else %>
				<!-- <li><a href="#loginModal" id="login-link" data-toggle="modal">Login</a></li>
				<li><a href="#registerModal" id="signup-link" data-toggle="modal">Sign Up</a></li> -->
				<li>
					<button class="btn btn-small btn-inverse" href="#loginModal" data-toggle="modal"><%=t 'login' %></button>
				</li>
				<li class="divider-vertical"></li>
				<li>
					<div class="btn-group">
						<button class="btn btn-small btn-inverse" href="#registerModal" data-toggle="modal"><%=t 'signup' %></button>
						<button class="btn btn-inverse btn-small dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#forgottenPasswordModal" data-toggle="modal"><%=t 'forgotpassword' %></a></li>
							<li><a href="#resendConfirmationModal" data-toggle="modal"><%=t 'resendpassword' %></a></li>
						</ul>

					</div>
				</li>
				<% end %>
			</ul>
		</div>
	</div>

	<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Something" aria-hidden="true" data-remote="<%= new_user_session_path %>">
		<div class="modal-header">
			<h3><%=t 'login' %></h3>
		</div>
		<div class="modal-body">
			<h3><%=t 'loading' %></h3>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%"></div>
			</div>
		</div>
	</div>

	<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Somethingelse" aria-hidden="true" data-remote="<%= new_user_registration_path %>">
		<div class="modal-header">
			<h3><%=t 'signup' %></h3>
		</div>
		<div class="modal-body">
			<h3><%=t 'loading' %></h3>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%"></div>
			</div>
		</div>
	</div>

	<div id="forgottenPasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Derp" aria-hidden="true" data-remote="<%= new_user_password_path %>">
		<div class="modal-header">
			<h3><%=t 'forgotpassword' %></h3>
		</div>
		<div class="modal-body">
			<h3><%=t 'loading' %></h3>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%"></div>
			</div>
		</div>
	</div>

	<div id="resendConfirmationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="huh" aria-hidden="true" data-remote="<%= new_user_confirmation_path %>">
		<div class="modal-header">
			<h3><%=t 'resendpassword' %></h3>
		</div>
		<div class="modal-body">
			<h3><%=t 'loading' %></h3>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%"></div>
			</div>
		</div>
	</div>

	<div id="updatePasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="uppwd" aria-hidden="true" data-remote="<%= edit_pwd_path %>">
		<div class="modal-header">
			<h3><%=t 'updatepassword' %></h3>
		</div>
				<div class="modal-body">
			<h3><%=t 'loading' %></h3>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%"></div>
			</div>
		</div>
	</div>

	<div id="newTargetModal" class="modal hide fade modal-target" tabindex="-1" role="dialog" aria-labelledby="wtfomgbbq" aria-hidden="true" data-remote="<%= new_target_path %>">
		<div class="modal-header">
			<h3><%=t 'createnewtarget' %></h3>
		</div>
		<div class="modal-body">
			<h3><%=t 'loading' %></h3>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%"></div>
			</div>
		</div>
	</div>

	<div id="messageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Herp" aria-hidden="true">
		<div class="modal-header">
		</div>
		<div class="modal-body">
			<h3><%=t 'loading' %></h3>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%"></div>
			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>

	<div id="loadingModal" class="modal hide" tabindex="-1" role="dialog" area-labelledby="Something" aria-hidden="true">
		<div class="modal-header">
			<h3><%=t 'loading' %></h3>
		</div>
		<div class="modal-body">
			<div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div>
		</div>
	</div>

	<div id="stateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="hipstah" aria-hidden="true">
		<div class="modal-header">
			<h3><%=t 'statetitle' %></h3>
		</div>	
		<div class="modal-body">
			<%= raw t('statebody') %>	
		</div>
		<div class="modal-footer">
			<button class="btn btn-inverse btn-primary" id="state-nothing"><%=t 'donothing' %></button>
			<button class="btn btn-inverse" id="state-cookies"><%=t 'cookies' %></button>
			<button class="btn btn-inverse" id="state-db"><%=t 'login' %></button>
		</div>
	</div>

	

<%= yield %>

</div>



<% if user_signed_in? %>
<%= form_tag(:destroy_user_session, :method => :delete, :id => 'logout-form')%></form>
<script>
$('#logout-link').on('click',function(e) {
	e.preventDefault();
	$('#logout-form').submit();

});
</script>
<% end %>
</body>
</html>
